@import 'imports/normalize.css';
@import 'imports/main.css';

/* GENERAL
==============================================================================*/
html {
	position: relative;
}
html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

body {
	padding:1em;
	color: #333;
	width:1152px;
	margin:auto;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Futura, "Futura MdCn BT", "Futura BdCn BT";
	font-weight: normal;
}
p {	margin-top:0;	}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

/* ID/CLASS RULES
==============================================================================*/
div.toc .global {
	float:right;
}
div.toc .local {
	float:left;
	margin-right: 1em;
}
div.level-2,
div.level-3 {
	position: relative;
	width:100%;
	float:left;
	padding:2em 3em;
	margin-top:1em;
}
div.content > div.level-2:first-child,
div.content > div.level-3:first-child,
div.content > p + div.level-2,
div.content > p + div.level-3 {
	margin-top: 0;
}
.level-2 a {color:#FFCC99;}
.level-3 a {color:#CC7700;}

div.level-2 {
	background-color: #666;
	color: #eee;
}
div.level-3 {
	background-color: #ddd;
	color: #333;
}
div.level-2 h2{
	color: #eee;
}
body > div,
body > section,
div.p-img {
	float:left;
	clear:both;
	width:100%;
}
ol.steps li {
	float:left;
	border-top:1px dotted;
	padding-top: 1em;
}
ol.steps li > div {
	margin-top:0;
}
.step {
	border-top:1px dotted;
	padding-top: 1em;
}
div.quote {
	width:100%;
}
ul.no-bullet,
ol.no-bullet {
	list-style-type:none;
}

/* NAVIGATION ELEMENTS
==============================================================================*/
div.section-nav a{
	padding: .5em;
	font-size: 2em;
	font-weight: bold;
	display: block;
	width: 50%;
	float: left;
	text-decoration: none;
}
div.section-nav  a:hover{
	text-decoration: none;
	background-color: #ddd;
}
div.section-nav  a.next{
	text-align: right;
}
div.level-nav a {
	display: inline-block;
	font-style: italic;
	float: left;
	clear: left;
	padding: .5em;
}
div.level-nav a.up:after {
	content: " ^";
	font-style: italic;
}
div.level-nav a.top:after {
	content: " ^^";
	font-style: italic;
}
.inactive .level-nav {
	display: none;
	visibility: hidden;
}
button.ctrl-all + div.content {
}
h2.ctrl, h3.ctrl {
	position: relative;
	text-indent: -8px;
}
h3.ctrl {
	text-indent: -4px;
}
h2.ctrl:hover {
	background-color:#777;
}
h3.ctrl:hover {
	background-color:#ccc;
}
.ctrl {
	cursor: pointer;
}
.ctrl:before,
.inactive.ctrl:after {
	content: '';
	float:left;
	width: 0;
	height: 0;
	cursor:pointer;
}
.ctrl:before,
.ctrl:after {
	border-style: solid;
}
h2.ctrl:before {
	margin-top: 10px;
}
h2.ctrl:after {
	top: 18px;
}
h2.ctrl:before,
h2.ctrl:after {
	left: -14px;
	border-width:  7px;
}
div.level-3 > .ctrl:before {
	margin-top: 8px;
}
h3.ctrl:before,
h3.ctrl:after {
	left: -10px;
	border-width:  5px;
}
h3.ctrl:after {
	top: 14px;
}
.ctrl:before {
	position: relative;
	border-left-color: transparent;
	border-right-color: transparent;
}
.inactive.ctrl:before {
	border-bottom-color: red;
	border-top: none;
}
.inactive.ctrl:after {
	position: absolute;
	border-color: red transparent;
	border-bottom: none;
}

/* IMAGES
==============================================================================*/

div.p-img {
	margin-bottom:1em;
	margin-top:1em;
}
div.carousel,
p.img {
	margin-left:1em;
}
div.p-img p + p {
	float:none;
}
div.p-img div.carousel,
div.p-img p.img {
	float:right;
	clear:right;
}
div.p-img div.carousel {
	border:1px solid #eee;
	padding:1px;
}
div.carousel figcaption{
	text-align: center;
}
div.carousel .controls{
	width: 100%;
	float:right;
	text-align: center;
	border-top:1px dotted #eee;
}
div.carousel .btn{
	width:49%;
	display:inline-block;
	cursor:pointer;
	font-size: 1.5em;
	font-weight: bold;
}
div.carousel .btn:hover {
	background-color: #e5e5e5;
	color: #996600;
}
div.carousel .btn.prev {
	float: left;
}
div.carousel .btn.next {
	float: right;
}
