[submodule "delphi-detours-library"]
	path = delphi-detours-library
	url = ../../ElminsterAU/delphi-detours-library.git
	branch = xEdit-4.0.x
[submodule "vcl-styles-utils"]
	path = vcl-styles-utils
	url = ../../ElminsterAU/vcl-styles-utils.git
	branch = xEdit-4.0.x
[submodule "VirtualTrees"]
	path = VirtualTrees
	url = ../../ElminsterAU/Virtual-TreeView.git
	branch = xEdit-4.0.x
[submodule "jcl"]
	path = jcl
	url = ../../ElminsterAU/jcl.git
	branch = xEdit-4.0.x
[submodule "jvcl"]
	path = jvcl
	url = ../../ElminsterAU/jvcl.git
	branch = xEdit-4.0.x
