<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extended.ResourceEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extended.ResourceEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<userSettings>
		<Extended.ResourceEditor.My.MySettings>
   <setting name="BaseCommentColumnVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LocalCommentColumnVisible" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TreeViewVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RecentFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="FontSize" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="UpdateCheckLast" serializeAs="String">
    <value>2007-03-16</value>
   </setting>
   <setting name="HideVSFormItems" serializeAs="String">
    <value>True</value>
   </setting>
  </Extended.ResourceEditor.My.MySettings>
	</userSettings>
	<applicationSettings>
		<Extended.ResourceEditor.My.MySettings>
   <setting name="PathSeparator" serializeAs="String">
    <value>_</value>
   </setting>
   <setting name="UpdateCheckDaysInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="RecentFilesCount" serializeAs="String">
    <value>10</value>
   </setting>
  </Extended.ResourceEditor.My.MySettings>
	</applicationSettings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Off" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
     initializeData="FileLogWriter"
     location="Custom"
     customLocation="C:\"
     logFileCreationSchedule="None"
     traceOutputOptions="DateTime,Timestamp,Callstack"
     autoFlush="true" append="true" delimiter="|" baseFileName="ResEx"/>
		</sharedListeners>
	</system.diagnostics>	
</configuration>
