<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TESVSnip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TESVSnip.Properties.Settings>
      <setting name="TESsnip" serializeAs="String">
        <value />
      </setting>
      <setting name="ApplyFilterToAllESM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontAskUserAboutFiltering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstTimeOpeningSkyrimESM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableESMFilter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllESMRecords" serializeAs="String">
        <value>AACT;ACTI;ADDN;ALCH;AMMO;ANIO;APPA;ARMA;ARMO;ARTO;ASPC;ASTP;AVIF;BOOK;BPTD;CAMS;CLAS;CLDC;CLFM;CLMT;COBJ;COLL;CONT;CPTH;CSTY;DEBR;DIAL;DLBR;DLVW;DOBJ;DOOR;DUAL;ECZN;EFSH;ENCH;EQUP;EXPL;EYES;FACT;FLOR;FLST;FSTP;FSTS;FURN;GLOB;GMST;GRAS;HAIR;HAZD;HDPT;IDLE;IDLM;IMAD;IMGS;INGR;IPCT;IPDS;KEYM;KYWD;LCRT;LCTN;LGTM;LIGH;LSCR;LTEX;LVLI;LVLN;LVSP;MATO;MATT;MESG;MGEF;MISC;MOVT;MSTT;MUSC;MUST;NAVI;NPC_;OTFT;PACK;PERK;PROJ;PWAT;QUST;RACE;REGN;RELA;REVB;RFCT;RGDL;SCOL;SCPT;SCRL;SHOU;SLGM;SMBN;SMEN;SMQN;SNCT;SNDR;SOPM;SOUN;SPEL;SPGD;STAT;TACT;TREE;TXST;VTYP;WATR;WEAP;WOOP;WRLD;WTHR</value>
      </setting>
      <setting name="FilteredESMRecords" serializeAs="String">
        <value>REGN;NAVI;WRLD;DIAL;CELL;IMAD;WTHR</value>
      </setting>
      <setting name="IsFirstTimeOpening" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultOpenFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="UseWindowsClipboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxHistoryItem" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="NoWindowsSounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableHyperlinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalizationName" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="SkyrimLocalizerPath" serializeAs="String">
        <value>Skyrim String Localizer.exe</value>
      </setting>
      <setting name="SaveStringsFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MonitorStringsFolderForChanges" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMsftEdit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSaveDockingState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseOldSubRecordEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDefaultRecordCompression" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAutoCompress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCompressRecords" serializeAs="String">
        <value>REGN;NAVI;WRLD;DIAL;CELL;IMAD;WTHR</value>
      </setting>
      <setting name="EnableCompressionLimit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CompressionLimit" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UseHexSubRecordEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxSearchResults" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="LastSearchType" serializeAs="String">
        <value />
      </setting>
    </TESVSnip.Properties.Settings>
  </userSettings>
  <startup/>
</configuration>
